<nz-layout>
  <nz-header>
    <div class="logo">Otus7</div>
    <div style="display: flex; justify-content: end; align-items: center">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item>
          <span nz-icon nzType="search"></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="star"></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="book"></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="bell"></span>
        </li>
        <li nz-menu-item>
          <nz-avatar [nzSize]="35" nzIcon="user"></nz-avatar>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <span class="header-trigger flex-end white" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            [nzTheme]="'outline'"
          ></span>
        </span>

      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li
          nz-menu-item
          nzSelected
          nzMatchRouter
        >
          <span nz-icon nzType="home"></span>
          <span><a routerLink="/home">Home</a></span>
        </li>
        <li
          nz-menu-item
          nzSelected
          nzMatchRouter
        >
          <span nz-icon nzType="user"></span>
          <span><a routerLink="/pilotos">Pilotos</a></span>
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
