<ng-container>
  <div style="height: 100px; background: white; margin-bottom: 45px">
    <nz-page-header class="site-page-header">
      <!--breadcrumb-->
      <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>

      <!--title-->
      <nz-page-header-title>
        Gerenciar Pilotos
      </nz-page-header-title>

      <!--extra-->
      <nz-page-header-extra>
        <nz-space>
          <button nz-button nzType="primary" nzSize="large">
            <span nz-icon nzType="plus"></span>
            Novo
          </button>
          <button nz-button nzType="default" nzSize="large">
            <span nz-icon nzType="redo"></span>
          </button>
          <button nz-button nzType="default" nzSize="large">
            <span nz-icon nzType="setting"></span>
          </button>
          <button nz-button nzType="default" nzSize="large">
            <span nz-icon nzType="save"></span>
          </button>
          <button nz-button nzType="default" nzSize="large">
            <span nz-icon nzType="column-height"></span>
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
</ng-container>

<div class="inner-content">
  <ng-container>
    <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortFn]="column.compare"
          [nzSortPriority]="column.priority"
          [nzWidth]="column.width"
        >
          {{ column.name }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.driverId }}</td>
        <td>{{ data.givenName }}</td>
        <td>{{ data.familyName }}</td>
        <td>{{ data.dateOfBirth }}</td>
        <td>{{ data.nationality }}</td>
        <td>{{ data.url }}</td>
        <td nzAlign="center">
          <button
            nz-button
            nz-dropdown
            nzSize="small"
            [nzDropdownMenu]="menu"
            nzPlacement="bottomCenter"
          >
            <span nz-icon nzType="more"></span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Editar</li>
              <li nz-menu-item>Deletar</li>
              <li nz-menu-item>Copiar</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</div>
